/* general */

body
{
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
background-color:  rgb(30, 30, 30);
/*background-image:url(../image/gris.jpg);*/
opacity: 0.9;
margin-top: 12%;
margin-left: 0%;
padding:auto;
}
.image {
    float: right;
    max-height: 80px;
  }
.heading
{
    color: rgb(165, 99, 159);
    font-size: 2em;
    text-align: center;
    clear:both;
}
.heading2
{
    
    text-align: center;
    color: rgb(135, 110, 182);
    font-size: 1.5em;
}
.content
{
    color: rgb(104, 151, 155);
    font-weight: bold;
    font-size: 1em;
}


/* header */

.nom
{
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    left:0%;
    top: -17px;
}
.dev
{
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 1.5em;
    align-self: center;
    position: absolute;
    left: 40%;
    top: x;
    
    
}
header
{
    background-image: url(../image/background_bureau.jpg);
    background-position: 0px 0px;
    background-size: 100%;
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0px;

}
/* section experience */
.experience
{

}
/* section competence */
.competence
{

}
.grid
{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    
}
.hardware
{
    padding: 10px;
    border: 5px rgb(126, 126, 197) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 50px;
    width: 300px;
    height: 300px;
   
    text-align: left;
    text-justify: auto;
    
    
}
.software
{
    padding: 10px;
    border: 5px rgb(126, 126, 197) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 50px;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    
    text-align: left;
    text-justify: auto;
    
    
}
/* smash */
.smash
{
    padding: 10px;
    border: 5px rgb(236, 238, 111) solid;
    border-radius: 200px;
    box-shadow: 0px 0px 50px rgb(236, 238, 111);
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.headingsmash
{
    
    text-align: center;
    color: rgb(185, 209, 47);
    font-size: 1.5em;
}
.contentsmash
{
    color: rgb(230, 107, 107);
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}
/* section formation */
.formation
{

}
/* footer */
.reseaux
{
    padding-top: 4px;
    text-align: center;
    border-left: 5px rgb(126, 126, 197) solid;
    border-right: 5px rgb(126, 126, 197) solid;
    border-top: 5px rgb(126, 126, 197) solid;
    border-bottom: 5px rgb(126, 126, 197) solid;
    border-radius: 40px;
    box-shadow: 0px 0px 10px;
    width: 200px;
    margin: auto;
    color: rgb(104, 151, 155);
    position:fixed;
    bottom: 1%;
    right: -30px;
}
a 
{
    color: rgb(231, 75, 122);
}
a:hover 
{
    text-decoration: underline;
    color: rgb(255, 248, 155);
    font-weight: bolder;
}
.link
{
    width: 40px;
    height: 40px;
}
.copyright
{
    margin-top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}







