/* general */

body
{
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
background-color:  rgb(30, 30, 30);
opacity: 0.9;
margin-top: 12%;
margin-left: 0%;
padding:auto;
}
.image 
  {
    float: right;
    max-height: 80px;
  }
.heading
{
    color: rgb(165, 99, 159);
    font-size: 2em;
    text-align: center;
    clear:both;
}
.heading2
{
    
    text-align: center;
    color: rgb(135, 110, 182);
    font-size: 1.5em;
}
.content
{
    color: rgb(104, 151, 155);
    font-weight: bold;
    font-size: 1em;
}


/* header */

.nom
{
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    left:0%;
    top: -17px;
}
.dev
{
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 1.5em;
    align-self: center;
    position: absolute;
    left: 40%;
    
    
    
}
header
{
    background-image: url(../image/background_bureau.jpg);
    background-position: 0px 0px;
    background-size: 100%;
    width: 100%;
    height: 80px;
    position:fixed;
    top: 0px;

}
/* section experience */
.experience
{

}
/* section competence */
.competence
{

}
.grid
{
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    
}
.hardware
{
    padding: 10px;
    border: 5px rgb(126, 126, 197) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 50px;
    width: 300px;
    height: 300px;
    text-align: left;
    text-justify: auto;
    
    
}
.software
{
    padding: 10px;
    border: 5px rgb(126, 126, 197) solid;
    border-radius: 15px;
    box-shadow: 0px 0px 50px;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    text-align: left;
    text-justify: auto;
    
    
}
/* smash */
.smash
{
    padding: 10px;
    border: 5px rgb(236, 238, 111) solid;
    border-radius: 200px;
    box-shadow: 0px 0px 50px rgb(236, 238, 111);
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
.headingsmash
{
    
    text-align: center;
    color: rgb(185, 209, 47);
    font-size: 1.5em;
}
.contentsmash
{
    color: rgb(230, 107, 107);
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}
/* section formation */
.formation
{

}
/* footer */
.reseaux
{
    padding-top: 4px;
    text-align: center;
    border-left: 5px rgb(126, 126, 197) solid;
    border-right: 5px rgb(126, 126, 197) solid;
    border-top: 5px rgb(126, 126, 197) solid;
    border-bottom: 5px rgb(126, 126, 197) solid;
    border-radius: 40px;
    box-shadow: 0px 0px 10px;
    width: 200px;
    color: rgb(104, 151, 155);
    position:fixed;
    bottom: 1%;
    right: -30px;
}

a:hover img
{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}
.link
{
    width: 40px;
    height: 40px;
}
.copyright
{
    margin-top: 200px;
    text-align: center;
    color: rgb(255, 255, 255);
}



/** scrollbar **/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c966ff;
  border: 0px none #ffffff;
  border-radius: 42px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ab54d9;
}
::-webkit-scrollbar-thumb:active {
  background: #772f98;
}
::-webkit-scrollbar-track {
  background: #554e5a;
  border: 0px none #ffffff;
  border-radius: 25px;
}
::-webkit-scrollbar-track:hover {
  background: #554e5a;
}
::-webkit-scrollbar-track:active {
  background: #554e5a;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
/** scrollbar **/

@media screen and (max-width: 1280px)
{
/** header **/
  .nom
  {
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    left:0%;
    top: -17px;
  }
  .dev
  {
    display: flex;
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 1.5em;
    align-self: left;
    position: absolute;
    left: 0%;
    top: 25%;
    
  }
  /** header **/


  /** body **/
  body
{
  margin-top: 80px;
}
  .software
  {
    padding: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  .hardware
  {
    padding-bottom: 40px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
    
  }
  .smah
  {
    padding: 20px;
    border: 5px rgb(236, 238, 111) solid;
    border-radius: 200px;
    box-shadow: 0px 0px 50px rgb(236, 238, 111);
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
}
  /** body **/


  /** footer **/
  .copyright
  {
    margin-top: 200px;
    text-align: start;
    color: rgb(255, 255, 255);   
  }
  /** footer **/
}

@media screen and (max-width: 400px)
{
/** header **/
  .nom
  {
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    left:0%;
    top: -17px;
  }
  .dev
  {
    display: flex;
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 1.5em;
    align-self: left;
    position: absolute;
    left: 0%;
    top: 25%;
    
  }
  /** header **/


  /** body **/
  .software
  {
    padding: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  .hardware
  {
    
    padding-bottom: 40px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  /** body **/


  /** footer **/
  .copyright
  {
    margin-top: 200px;
    text-align: start;
    color: rgb(255, 255, 255);   
  }
  .reseaux
{
    
    padding-top: 4px;
    text-align: center;
    border-left: 5px rgb(126, 126, 197) solid;
    border-right: 5px rgb(126, 126, 197) solid;
    border-top: 5px rgb(126, 126, 197) solid;
    border-bottom: 5px rgb(126, 126, 197) solid;
    border-radius: 40px;
    box-shadow: 0px 0px 10px;
    width: 150px;
    color: rgb(104, 151, 155);
    position:fixed;
    bottom: 1%;
    right: -28px;
}
.link
{
    width: 30px;
    height: 30px;
}
  /** footer **/
}

@media screen and (max-width: 350px)
{
/** header **/
  .nom
  {
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 2.5em;
    position: absolute;
    left:0%;
    top: -17px;
  }
  .dev
  {
    display: flex;
    text-align: left;
    color: rgb(118, 183, 189);
    font-weight: bold;
    font-size: 1.5em;
    align-self: left;
    position: absolute;
    left: 0%;
    top: 25%;
    
  }
  /** header **/


  /** body **/
  .software
  {
    padding: 10px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  .hardware
  {
    
    padding-bottom: 50px;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 30px;
  }
  /** body **/


  /** footer **/
  .copyright
  {
    margin-top: 200px;
    text-align: start;
    color: rgb(255, 255, 255);   
  }
  .reseaux
{
    
    padding-top: 4px;
    text-align: center;
    border-left: 5px rgb(126, 126, 197) solid;
    border-right: 5px rgb(126, 126, 197) solid;
    border-top: 5px rgb(126, 126, 197) solid;
    border-bottom: 5px rgb(126, 126, 197) solid;
    border-radius: 40px;
    box-shadow: 0px 0px 10px;
    width: 150px;
    color: rgb(104, 151, 155);
    position:fixed;
    bottom: 1%;
    right: -28px;
}
.link
{
    width: 30px;
    height: 30px;
}
  /** footer **/
}
