/* general */
html
{
    background-image:url(/image/background_bureau.jpg) ;
    background-repeat: no-repeat;
}
body
{
font-family: Arial, Helvetica, sans-serif;
text-align: justify;
/*background-color:  rgb(30, 30, 30);*/
background-image: url(../image/gris.jpg);
opacity: 0.9;

}
.image {
    float: right;
  }
.heading
{
    color: rgb(165, 99, 159);
    font-size: 2em;
    text-align: center;
    clear:both;
}
.heading2
{
    
    text-align: center;
    color: rgb(135, 110, 182);
    font-size: 1.5em;
}
.content
{
    color: rgb(104, 151, 155);
    font-weight: bold;
    font-size: 1em;
}


/* header */
.nom
{
    text-align: left;
    color: rgb(104, 151, 155);
    font-weight: bold;
    font-size: 2.5em;
}
.dev
{
    text-align: left;
    color: rgb(104, 151, 155);
    font-weight: bold;
    font-size: 1.5em;
    
}
/* section experience */
.experience
{

}
/* section competence */
.competence
{

}
.grid
{
    display: flex;
    justify-content:space-around;
  
   
    
}
.hardware
{
    padding: 10px;
    border: 3px rgb(126, 126, 197) solid;
    border-radius: 6px;
    box-shadow: 0px 0px 20px;
    width: 300px;
    height: 300px;
    
    
}
.software
{
    padding: 10px;
    border: 3px rgb(126, 126, 197) solid;
    border-radius: 6px;
    box-shadow: 0px 0px 20px;
    width: 300px;
    height: 300px;
    
    
}
/* smash */
.smash
{
    padding: 10px;
    border: 3px rgb(236, 238, 111) solid;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgb(236, 238, 111);
    height: 300px;
    width: 300px;
    margin: auto;
}
.headingsmash
{
    text-align: center;
    color: rgb(185, 209, 47);
    font-size: 1.5em;
}
.contentsmash
{
    color: rgb(230, 107, 107);
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
}
/* section formation */
.formation
{

}
/* footer */
footer
{
    text-align: center;
    border: 3px rgb(126, 126, 197) solid;
    border-radius: 6px;
    box-shadow: 3px 3px 10px;
    width: 300px;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    color: rgb(104, 151, 155);
}
a 
{
    color: rgb(231, 75, 122);
}
a:hover 
{
    text-decoration: underline;
    color: rgb(255, 248, 155);
    font-weight: bolder;
}







